<html>

<head>
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!-- <%- include('header'); %> -->
    <header class="header_class">
        <h1>This is the Task page</h1>
        <h3>
            <p>Hello! <%= user.name %></p>
        </h3>
    </header>
    <article class="todo_list">
        <div class="tasks">
            <ul class="task_list">
                <% let count=1 %>
                <% for (let i of toDoTask) { %>
                    
                   
                        <div class="task_details" id="<%= count%>">
                            <p><%= i.id=count %></p>
                            <p>
                                <%= i.description %>
                            </p>
                            <p>
                                <%= i.category %>
                            </p>
                            <p>
                                <%= i.due_date %>
                            </p>
                        </div>
                        <% count++%>
                        <div class="delete-button">
                            <a href="/delete-task/?id=<%= i.id %>">
                               X
                            </a>
    
                        </div>
    
    
                    </li>
    
                    <% } %>
    
    
            </ul>
        </div>
    </article>
   <section>
    <div>
        <form action="/create-task" method="post">
            <label for="id">Task Number:</label>
            <input type="id" id="id" name="id" value="<%= count%>">
            <label for="Task description">Description:</label>
            <textarea name="description" rows="2" cols="40" placeholder="What do you need to do?" required></textarea>
            <br>

            <label for="category">Category:</label>
            <input list="category" name="category" required>
            <datalist id="category">
                <option value="work">
                <option value="personal">
                <option value="cleaning">
                <option value="others">
            </datalist>
            <br>
            <label for="due_date">Due_date:</label>
            <input type="date" id="due_date" name="due_date" required>
            <button type="submit">Add Task</button>



        </form>

    </div>
   </section>
   <!-- <%- include('footer'); %> -->
   

    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>