<html>

<head>
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" href="/css/task.css">
    <script src="https://kit.fontawesome.com/43066af316.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <%- include('header'); %> -->
    <article class="todo_list">
        <h1>TODO TASKS</h1>
        <div class="task_container">
            <ul class="task_list">
                <% let count=1 %>
                <% for (let i of toDoTask) { %>
                    
                    <div class="task_div">
                        <li>
                   
                            <div class="task_details" id="<%= count%>">
                                <p><%= i.id=count %></p>
                                <p>
                                    <%= i.description %>
                                </p>
                                <p>
                                    <%= i.category %>
                                </p>
                                <p>
                                    <%= i.due_date %>
                                </p>
                            </div>
                            <% count++%>
                            <div class="delete-button">
                                <a href="/delete-task/?id=<%= i.id %>">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
        
                            </div>
        
        <hr>
                        </li>
                    </div>
                   
    
                    <% } %>
    
    
            </ul>
        </div>
    </article>
   <section class="form_container">
    <div class="row">
        <div class="col-75">
          <div class="container">
            <form action="/create-task" method="post">
      
              <div class="row">
                <div class="col-50">
                  <h3>New Task Details</h3>
                  <label for="id"><i class="fa-solid fa-list-ol"></i> Task Number</label>
                  <input type="id" id="id" name="id" value="<%= count%>">
                  <label for="category"><i class="fa-solid fa-briefcase"></i> Category</label>
                  <input list="category" name="category" required>
                <datalist id="category">
                    <option value="work">
                    <option value="personal">
                    <option value="cleaning">
                    <option value="others">
                </datalist>
                
                <label for="Task description"><i class="fa fa-address-card-o"></i> Task Description</label>
                  <input type="text" id="adr" name="description" placeholder="What do you need to do?" required>
                  <label for="due_date"><i class="fa-solid fa-calendar"></i> Due Date</label>
                  <input type="date" id="due_date" name="due_date" required>
                </div>
              </div>
              <input type="submit" value="Add Task" class="btn">
            </form>
          </div>
        </div>
      </div>
   </section>
   <!-- <%- include('footer'); %> -->
  

    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>